@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-150wt0sl.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-350wt0sl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-650wt0sl.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-850wt0sl.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-1000wt0sl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-350wt1000sl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-650wt1000sl.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-850wt1000sl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Titillium Upright';
    src: url('woff/TitilliumTextItalic-1000wt1000sl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
